{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}


{%  block spalte1 %}
    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
            {%  for bereich in todo_bereiche: %}
                <li><a class="dropdown-item rounded-2" href="{{ url_for('todo_einsehen') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    </svg>
                    {{ bereich}}</a>
                </li>
            {% endfor %}
        </ul>

    {{ render_form(add_todo_area_form) }}


{%  endblock %}


{%  block spalte2 %}

    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
        {%  for todo in todo_liste: %}
            <li><a class="dropdown-item rounded-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                </svg>
                {{ todo }}</a>
            </li>
        {% endfor %}
    </ul>

    {{ render_form(add_todo_task_form) }}


{% endblock %}